<!-- <div class="form-group">
    <form class="w-75 p-3" method="POST" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <label for="name">Username: </label>
          <input [(ngModel)] = "registeredUser.username" name="username" type="text" class="form-control" id="username"  placeholder="your_username">
        </div>
        <div class="form-group">
          <label for="author">Password: </label>
          <input name="password" type="text" class="form-control" id="password" placeholder="*secret credentials*">
        </div>
        <div class="form-group">
            <label for="author">Email: </label>
            <input name="email" type="text" class="form-control" id="email" placeholder="email@domain.com">
          </div>
          <div class="form-group">
            <label for="author">Full Name: </label>
            <input  name="fullName" type="text" class="form-control" id="fullName" placeholder="John Smith">
          </div>
        <div class="pt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>  -->

<div class="form-group">
    <form class="w-75 p-3" method="POST" #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
        <div class="form-group">
          <label for="username">username: </label>
          <input [(ngModel)]="registeredUser.username" name="username" type="text" class="form-control" id="username"  placeholder="username of Post">
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
  </div>