<div class="form-group">
    <form class="w-75 p-3" method="POST" #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
        <div class="form-group">
          <label for="title">Title: </label>
          <input [(ngModel)]="addPost.title" name="title" type="text" class="form-control" id="title"  placeholder="Title of Post">
        </div>
        <div class="form-group">
          <label for="author">Publisher: </label>
          <input [(ngModel)]="addPost.publisher" name="publisher" type="text" class="form-control" id="author" placeholder="Your Name Here">
        </div>
        <div class="form-group">
            <label for="content">Content: </label>
            <textarea [(ngModel)]="addPost.content" name="content" id="content" rows="3" class="form-control" ></textarea>
        </div>
        <div class="pt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="pt-3">
          <a class="btn btn-warning" [routerLink]="['/posts']">Cancel</a>
        </div>

        
    </form>

  </div>
