.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appCard {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 420px;
}

@media (max-width: 489px) {
  .appCard {
    width: 100%;
  }
}
